$primary: #51c5e6;
$info: #007bff;

// == Canvas Colors
//
$course: #2a6333 !default;
$objectives: #48aaa9 !default;
$indicators: #8bc864 !default;
$risks: #6a3595 !default;
$process: #fbdf59 !default;
$schedule: #2b80c4 !default;
$assessment: #e595af !default;
$content: #ee953d !default;
$problem: #ed3833 !default;
$enviroment: #ed477d !default;
$humam: #313c3c !default;

// $course: #15601a !default;
// $objectives: #125781 !default;
// $indicators: #2fc98f !default;
// $risks: #58134c !default;
// $process: #fdc611 !default;
// $schedule: #5f2b00 !default;
// $assessment: #24a4d8 !default;
// $content: #fb7506 !default;
// $problem: #c50b03 !default;
// $enviroment: #d32793 !default;
// $humam: #ae9f41 !default;
